
<div class="left-wrap">
	<div class="clock-wrap">
		<div class="hour-wrap">
			<div class="digit-top">
				<div class="front">00</div>
				<div class="back">00</div>
			</div>
			<div class="digit-bottom">
				<div class="front">00</div>
			</div>
		</div>
		<div class="min-wrap">
			<div class="digit-top">
				<div class="front">00</div>
				<div class="back">00</div>
			</div>
			<div class="digit-bottom">
				<div class="front">00</div>
			</div>
		</div>
		<div class="sec-wrap">
			<div class="digit-top">
				<div class="front">00</div>
				<div class="back">00</div>
			</div>
			<div class="digit-bottom">
				<div class="front">00</div>
			</div>
		</div>
	</div>

	<div class="left-menu">
		<ul>
			<li class="on"><a href="/admin/schedule">일정관리</a></li>
			<li><a href="/admin/exam">고사장관리</a></li>
			<li><a href="/admin/exam/list/1">고사장관리 - 고사장 리스트</a></li>
			<li><a href="/admin/exam/history">고사장관리 - 참여이력 리스트</a></li>
			<li><a href="/admin/comment/list/1">고사장관리 - 후기 리스트</a></li>
			<li><a href="/admin/periods">기수관리</a></li>
			<li><a href="/admin/apply">신청관리</a></li>
			<li><a href="/admin/apply/list/1">신청관리 - 신청리스트</a></li>
			<li><a href="/admin/apply/stats">신청관리 - 통계리스트</a></li>
			<li><a href="/admin/users">회원관리</a></li>
			<li><a href="/admin/department">부서관리</a></li>
			<li><a href="/admin/notice">공지사항관리</a></li>
			<li class="loginout"><a href="#">로그아웃</a></li>
		</ul>
	</div>
</div>
