<!DOCTYPE html>
<html>
	<nav>
 		<a href="/admin/schedule">일정관리 | </a>
 		<a href="/admin/exam">고사장관리 | </a>
 		<a href="/admin/exam/list/1">고사장관리 - 고사장 리스트 | </a>
 		<a href="/admin/exam/history">고사장관리 - 참여이력 리스트 | </a>
 		<a href="/admin/comment/list/1">고사장관리 - 후기 리스트 | </a>
 		
 		<a href="/admin/periods">기수관리 | </a>
 		
 		<a href="/admin/request">신청관리 | </a>
 		<a href="/admin/users">회원관리 | </a>
 		<a href="/admin/department">부서관리 | </a>
 		<a href="/admin/notice">공지사항관리 | </a>
	</nav>
</html>
