<meta charset="UTF-8">
<meta name="Author" content="">
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="noindex, nofollow"/>
<title>출석고사 사이트</title>
<script type="text/javascript" src="/common/js/jquery/jquery.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<% if(body!=='login' && body!=='join') { %>
<link rel="stylesheet" type="text/css" href="/hana2/css/css.css">
<% } else if(body==='login') { %>
<link href="/hana2/css/login.css" rel="stylesheet" />
<% } else { %>
<link rel="stylesheet" type="text/css" href="/common/css/style.css">
<% } %>