<!DOCTYPE html>
<html>
	<head>
    <title><%= title %></title>
   	<% include ../common/head %>
  </head>
  <body>
   	<div class="main-wrap">
    	<% include ../common/menu %>
    	<div class="content-wrap">
    		<h2><%= title %></h2>
    		<h3><%= msg %></h3>
    	</div>
    </div>
    
  </body>
  <script src='/adm/js/periods.js'></script>
</html>
