<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src='/common/js/jquery/jquery.min.js'></script>
    <script src="/common/js/chart/Chart.bundle.js"></script>
	<script src="/common/js/chart/utils.js"></script>
    <script src='/adm/js/gosa.js'></script>
    <link rel='stylesheet' href='/adm/css/style.css' />
  </head>
  <body>
  	<% for(let i=0; i<list.length; ++i){ %>
  	<iframe src="/admin/apply/stats/accrue/<%=list[i].APPLY_DATE%>" style="width: 500px; height: 500px;"></iframe>	
  	<% } %>
  </body>
</html>
