<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src='/common/js/jquery/jquery.min.js'></script>
    <script src='/adm/js/gosa.js'></script>
    <link rel='stylesheet' href='/adm/css/style.css' />
  </head>
  <body>
  	<input type="hidden" id="noticePage" name="noticePage" value="<%=page%>">
    <form id="commonForm" name="commonForm"></form>
   	<label>시작일</label>
   	<input type="date" id="startDate"><br>
   	<label>종료일</label>
   	<input type="date" id="endDate"><br>
   	<label>제목</label>
   	<input type="text" id="title"><br>
   	<label>내용</label>
   	<input type="text" id="contents"><br>
   	
    <div>
    	<button id="insertBtn">등록</button>
    	<button id="cancelBtn">취소</button>
    </div>
  </body>
 
  <script src='/adm/js/notice.js'></script>
</html>
