<!DOCTYPE html>
<html>
  <head>
    <title>메인</title>
    <link rel='stylesheet' href='/adm/css/style.css' />
  </head>
  <body>
    <h1>관리자메인페이지</h1>
    <p>Welcome to 아이디</p>
    
  </body>
</html>
