<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../common/head %>
  </head>
  <body>
  	<div class="main-wrap">
  	<% include ../common/menu %>
  	</div>
  </body>
</html>

