<!doctype html>
<html lang="ko">
<head>
	<%- include ./common/header.ejs %>
</head>

<body>
	<% if(body!=='login' && body!=='join') { %>
	<% include ./common/gnb.ejs %>
	<% } %>
	<%- include(body)  %>
	<%- include ./common/footer.ejs %>
</body>
</html>