<div class="main-wrap">
	<div class="content-wrap">
		<div class="content">
			<div class="photo">
				<img src="" alt=""/>
			</div>
			<div class="list">
				<table class="thead-tbl">
					<colgroup>
						<col style="width:6%">
						<col style="width:10%">
						<col style="width:25%">
						<col style="width:10%">
						<col style="width:8%">
						<col style="width:*">
					</colgroup>
					<thead>
						<tr>
							<th>NO</th>
							<th>고사장</th>
							<th>학교명</th>
							<th>강의실</th>
							<th>분반</th>
							<th>신청</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>강릉</td>
							<td><a href="#">강릉중학교<i class="fas fa-map-marker-alt icon"></i></a></td>
							<td>1</td>
							<td>1</td>
							<td><input type="button" value="신청하기" class="smallbtn blue" style="width:90px"></td>
						</tr>
						<tr>
							<td rowspan="3">2</td>
							<td rowspan="3">광주</td>
							<td rowspan="3"><a href="#">금호중앙중학교<i class="fas fa-map-marker-alt icon"></i></a></td>
							<td rowspan="3">3</td>
							<td>1</td>
							<td>솔루션사업부 디자인기획팀 최하나님</td>
						</tr>
						<tr>
							<td>2</td>
							<td><input type="button" value="신청하기" class="smallbtn blue" style="width:90px"></td>
						</tr>
						<tr>
							<td>3</td>
							<td><input type="button" value="신청하기" class="smallbtn blue" style="width:90px"></td>
						</tr>
						<tr>
							<td>3</td>
							<td>구리/남양주</td>
							<td><a href="#">교문중학교<i class="fas fa-map-marker-alt icon"></i></a></td>
							<td>1</td>
							<td>1</td>
							<td><input type="button" value="신청대기" class="smallbtn blue disabled" disabled style="width:90px"></td>
						</tr>
						<tr>
							<td rowspan="2">4</td>
							<td rowspan="2">대전</td>
							<td rowspan="2"><a href="#">대전여자중학교<i class="fas fa-map-marker-alt icon"></i></a></td>
							<td rowspan="2">2</td>
							<td>1</td>
							<td><input type="button" value="신청완료" class="smallbtn green" style="width:90px"></td>
						</tr>
						<tr>
							<td>2</td>
							<td><input type="button" value="신청취소" class="smallbtn red" style="width:90px"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
